@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}

:root {
  --background: #001616;
  --primary: #11CB66;
}

body {
  font-family: 'DM Sans';
}

.font-dm-serif-text {
  font-family: 'DM Serif Text';
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes translateIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}