@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}

:root {
  --background: #001616;
  --primary: #11CB66;
}

body {
  font-family: 'DM Sans';
}

.font-dm-serif-text {
  font-family: 'DM Serif Text';
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes translateIn {
  to {
    opacity: 1;
    transform: translateY(-30px);
  }
}

#clients-slider {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
#clients-slider::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.swiper-pagination-bullet {
  width: 60px;
  height: 6px;
  opacity: 1;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  transition: width 0.3s;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white;
  width: 100px;
}